.size-12 { font-size: 12px!important; }

.size-14 { font-size: 14px!important; }

.size-16 { font-size: 16px!important; }

.size-18 { font-size: 18px!important; }

.size-21 { font-size: 21px!important; }

.size-24 { font-size: 24px!important; }

.size-36 { font-size: 36px!important; }

.size-48 { font-size: 48px!important; }

.size-60 { font-size: 60px!important; }

.size-72 { font-size: 72px!important; }

.social-buttons-link { color: #bdc2ce!important; }
.top-bar {
	margin-bottom: 10px;
}
.top-bar, 
.top-bar ul li, 
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section ul li:hover:not(.has-form) > a,
.top-bar-section .dropdown li:not(.has-form) a:not(.button),
.top-bar-section .dropdown li:not(.has-form):hover > a:not(.button) { 
	background: #fff; 
	color: #000; 
}
.top-bar-section .dropdown {
	box-shadow: 0 0 4px #ccc;
}
.top-bar-section .city-selection ul li:not(.has-form) a:not(.button) {
	line-height: 30px;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	padding: 0 9px;	
}
@media only screen and (min-width: 40.063em) {
	.top-bar-section .has-dropdown > a {
	padding-right: 28px !important;
	}
}
.top-bar-section .has-dropdown > a:after { 
	border-color: #359fb5 transparent transparent transparent; 
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: #fff;
	color: #a4a6aa!important;
}
.top-bar-section ul.city-selection {
	margin-left: 10px;
}

.top-bar-section .registration-block li:not(.has-form) {
	margin-left: 5px;
}
.top-bar-section li:not(.has-form) a:not(.button).registration-link {
	color: #359fb5;
}
.top-bar-section .registration-block li:not(.has-form) a:not(.button):hover,
.top-bar-section ul.residents-list li > a:hover {
	text-decoration: underline;
}
.top-bar-section li:not(.has-form) a:not(.button).registration-link:hover {
	color: #359fb5!important;
}
.fi-torso {
	color: #bdc2ce;
	margin-right: 11px;
	vertical-align: middle;
}

.top-bar-section ul.residents-list li > a {
	font-size: 12px;
	text-transform: uppercase;
}
@media only screen and (min-width: 40.063em) {
	.top-bar-section .has-form {
		background: #fff;
	}
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	border: none;
	box-shadow: none;
	height: 2.1em;
	margin-top: 8px;
	text-transform: uppercase;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea {
	box-shadow: none;
}
.search-block {
	border-left: 1px solid #bdc2ce;
	border-right: 1px solid #bdc2ce;
}
@media only screen and (min-width: 40.063em) {
	.top-bar-section .has-form.search-block {
		height: 25px;
		line-height: 25px;
		padding: 0 10px;
	}
}
.search-field input {
	margin: 0;
	padding: 0;
	top: 0;
}
.search-button {

}
.search-button .fi-magnifying-glass {
	color: #bdc2ce;
}
.search-button .fi-magnifying-glass:before {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
	-ms-filter: "FlipH"; 
}
